body {
font-family: 'Roboto', Tahoma, sans-serif;
font-size: xx-large;
}

.container {
  margin: auto;
  max-width: 500px;
}

.price {
 margin: 1rem;
}

.description {
  margin: 1rem;
}

.clo {
 border: 1px solid #ccc; 
}

.clothes {
  margin: 1rem 0;
}
